.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.product-images {
  display: flex;
  flex-direction: column;
}

.product-img {
  margin-bottom: .5rem
}

body {
  background-color: rgb(255, 237, 242);
}