.profile-dropdown { 
    position: absolute;
    top: 100%; 
    right: 0; 
    transform: translateX(-25%);
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5rem; 
    margin-right: 25px;
    position: relative;
    margin-bottom: 1rem;
    border-bottom: 1px black solid;
    padding-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right {
    display: flex;
    justify-content: center;
}